<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zadanie domowe 0601</title>
</head>
<body>
<h1>Zadanie domowe 0601</h1>
<p>
    Formularz:
    <form method="post" action="{{ url_for('add_number') }} ">
    Podaj liczbę: <input type="number" name="integer_from_form">
    <br>
    <input type="submit">
</form>
</p>


<hr>

Liczba wpisanych liczb w bazie: {{ all_numbers }}

<hr>

<p>
    Wszystkie liczby:
    <br>
    <a href="/numbers/ASC">rosnąco</a>
    <br>
    <a href="/numbers/DSC">malejąco</a>
</p>
</body>
</html>
